    {{ register_asset_bundle('app/assets/AppAsset') }}  {# asset root for yii advanced template #}
    {{   void(this.beginPage()) }}
    <!DOCTYPE html>
    <html lang="{{ app.language }}">
        <head>
            <meta charset="{{ app.charset }}">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{{ html.encode(this.title) }}</title>
            {{ html.csrfMetaTags | raw }}
            {{   void(this.head) }}
        </head>
        <body>



            {{   void(this.beginBody()) }}
            <section id="header">


                {# header content #}

                {{ nav_bar_begin({
                    'brandLabel': app.name,
                    'brandUrl' : app.homeUrl,
                    'options' : {
                        'class' : 'navbar-inverse navbar-fixed-top',
                    }
                }) }}
                {% set menuItems = [] %}
                {% if app.user.isGuest == false %}
                    {% set menuItems = menuItems|merge([
                        {'label' : 'Main', 'url' : ['/site/index']},
                        {'label' : 'About', 'url' : ['/site/about']},
                        {
                            'label' : 'logout (' ~ app.user.identity.username ~ ')',
                            'url' : ['/site/logout'],
                            'linkOptions' : {'data-method' : 'post'}
                        }
                    ])
                %}
                {% else %}
                    {% set menuItems = menuItems|merge([
                        {'label' : 'login', 'url' : ['/site/login']},
                    ])
                %}
                {% endif %}
                {{ nav_widget({
                    'options': {
                        'class': 'navbar-nav navbar-right',
                    },
                    'items': menuItems
                }) }}
                {{ nav_bar_end() }}


            </section>

            <div class="wrap">
                <div class="container">
                    {{ use('yii/widgets') }}
                    {% if this.params['breadcrumbs'] %}
                    {% set breadcrumbs = this.params['breadcrumbs'] %}
                    {% else %}
                        {% set breadcrumbs = [] %}
                    {% endif %}
                    {{ breadcrumbs_widget({
                        'links' : breadcrumbs,
                    }) | raw }}                    


                    {{ content | raw }}
                </div>
            </div>

            <footer class="footer">
                <div class="container">
                    <p class="pull-left">&copy; My Company {{ 'now'|date('Y') }}</p>
                    <p class="pull-right">{{ Yii.powered() | raw }}</p>
                </div>
            </footer>
            {{   void(this.endBody()) }}
        </body>
    </html>
    {{   void(this.endPage()) }}