{{ set(this, 'title', 'About') }}


{{ use('yii/widgets') }}
{% set breadcrumbs = ['About'] %}
{{ breadcrumbs_widget({
    'links' : breadcrumbs,
}) | raw }} 


<h1>{{this.title}}</h1>


<p>
    This is the About page. You may modify the following file to customize its content:
</p>

