{{ set(this, 'title', name) }}


{{ use('yii/widgets') }}
{% set breadcrumbs = ['Error'] %}
{{ breadcrumbs_widget({
    'links' : breadcrumbs,
}) | raw }} 


<div class="site-error">

    <h1>{{this.title}}</h1>

    <div class="alert alert-danger">
       {{ message }}
    </div>

    <p>
        The above error occurred while the Web server was processing your request.
    </p>
    <p>
        Please contact us if you think this is a server error. Thank you.
    </p>
</div>
