{# This will be a comment #}
{{ set(this, 'title', 'New title ButtonCounter') }}

<div class="site-index">

    <div>
        <h1>ButtonCounter</h1>
        <p class="lead">A most simplest app with yii framework</p>
        <p>
            <a 
            class="buttoncounter btn btn-lg btn-success text-uppercase" 
            href="javascript:void(0);"
            data-url="{{ Url.base(true) }}"
            >
                Press the button
            </a>
        </p>
        
        <div class="text-left">
            <div class="input-cnt">
                <div class="row">
                    <div class="col-sm-2 col-xs-6 text-muted">
                        <div class="input-cnt__label">button inputs:</div>
                    </div>
                    <div class="col-sm-8 col-xs-6">
                        <div class="input-cnt__counter">{{ model.input_cnt }}</div>
                    </div>
                </div>
            </div>
            <div class="load-cnt">
                <div class="row">
                    <div class="col-sm-2 col-xs-6 text-muted">
                        <div class="load-cnt__label">page loads:</div>
                    </div>
                    <div class="col-sm-8 col-xs-6">
                        <div class="load-cnt__counter">{{ model.load_cnt }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
