{{ set(this, 'title', 'Login Form ButtonCounter') }}


{{ use('yii/widgets') }}
{% set breadcrumbs = ['login'] %}
{{ breadcrumbs_widget({
    'links' : breadcrumbs,
}) | raw }} 


<h1>Login</h1>

<p>Please fill out the following fields to login:</p>
<div class="container"> 
    {{ use('yii/widgets/ActiveForm') }}
    {% set form = active_form_begin({
        'id' : 'login-form',
        'options' : {'class' : 'form-horizontal'},
    }) %}
        {{ form.field(model, 'username') | raw }}
        {{ form.field(model, 'password').passwordInput() | raw }}

        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
</div>
{{ active_form_end() }}